<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⧕</text></svg>">

    <title>Incidents</title>
    <link rel="stylesheet" href="/static/stylesheet.css">

</head>

<body>
    <h1 class="brand"> in⧕idents</h1>
    <div class="alert"></div>
    <div class="grid-container"></div>

    <script>
        function handleButtonClick(button) {
            const serviceName = button.getAttribute('name');
            fetch("/ack", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name: serviceName,
                }),
            })
                .then(response => {
                    if (response.ok) {
                        button.textContent = 'ACKED 🔕';
                    }
                    console.log('Response:', response);
                })
                .catch(error => {
                    console.error('Error:', error);
                });

        }


        const evtSource = new EventSource("/events?stream=messages");
            const serviceDivs = new Map();

            evtSource.onmessage = (event) => {
                const eventData = JSON.parse(event.data);
                const acked = eventData.ack ? "ACKED 🔕" : "ACK";
                console.log(eventData.name, eventData.ack);

                if (serviceDivs.has(eventData.name)) {
                    updateExistingDiv(eventData, acked);
                } else {
                    createNewDiv(eventData, acked);
                }
            };

            function updateExistingDiv(eventData, acked) {
                const existingDiv = serviceDivs.get(eventData.name);

                if (eventData.up) {
                    updateDivState(existingDiv, "green", "red");
                    removeButtonContainer(existingDiv);
                } else {
                    updateDivState(existingDiv, "red", "green");
                    removeButtonContainer(existingDiv);

                    if (!existingDiv.querySelector('.button-container')) {
                        const ackButton = createAckButton(eventData.name, acked);
                        existingDiv.innerHTML += ackButton;
                    }
                }

                // Get the progress bar element
                const progressBar = existingDiv.querySelector(".progress-bar");

                if (progressBar) {
                    // Calculate the animation duration based on the 'frequency' variable
                    const animationDuration = eventData.frequency * 1000 + "ms";
                    // Apply the animation duration to the progress bar
                    progressBar.style.animationDuration = animationDuration;
                }
            }

            function createNewDiv(eventData, acked) {
                const newElement = document.createElement("div");

                if (eventData.up) {
                    updateDivState(newElement, "green");
                    newElement.textContent = eventData.name;
                } else {
                    updateDivState(newElement, "red");
                    newElement.textContent = eventData.name;

                    if (!newElement.querySelector('.button-container')) {
                        const ackButton = createAckButton(eventData.name, acked);
                        newElement.innerHTML += ackButton;
                    }
                }

                newElement.classList.add("rectangle");
                const progressBar = createProgressBar(eventData.name);
                newElement.appendChild(progressBar);

                // Calculate the animation duration based on the 'frequency' variable
                const animationDuration = eventData.frequency * 1000 + "ms";
                // Apply the animation duration to the progress bar
                progressBar.style.animationDuration = animationDuration;

                const gridContainer = document.querySelector(".grid-container");
                gridContainer.appendChild(newElement);

                serviceDivs.set(eventData.name, newElement);
            }

            function updateDivState(element, addClass, removeClass) {
                element.classList.add(addClass);
                if (removeClass) {
                    element.classList.remove(removeClass);
                }
            }

            function removeButtonContainer(element) {
                const buttonContainer = element.querySelector('.button-container');
                if (buttonContainer) {
                    buttonContainer.remove();
                }
            }

            function createAckButton(name, acked) {
                return `<div class="button-container"><button class="transparent-button" onclick="handleButtonClick(this)" name="${name}">${acked}</button></div>`;
            }

            function createProgressBar(name) {
                const progressBar = document.createElement("div");
                progressBar.classList.add("progress-bar");
                progressBar.setAttribute("name", name);
                return progressBar;
            }

    </script>
</body>

</html>
