<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⧕</text></svg>">

    <title>Incidents</title>
    <link rel="stylesheet" href="/static/stylesheet.css">

</head>

<body>
    <h1 class="brand"> in⧕idents</h1>
    <div class="alert"></div>
    <div class="grid-container"></div>

    <!-- TODO Include htmx for ack feature -->
    <!-- <script src="https://unpkg.com/htmx.org@1.9.6"></script> -->
    <script>
        const evtSource = new EventSource("/events?stream=messages");
        const serviceDivs = new Map();
        evtSource.onmessage = (event) => {
            const eventData = JSON.parse(event.data);
            if (serviceDivs.has(eventData.name)) {
                const existingDiv = serviceDivs.get(eventData.name);

                if (eventData.up) {
                    existingDiv.classList.add("green");
                    existingDiv.classList.remove("red");
                    // var textNode = document.createTextNode(eventData.name);
                    // existingDiv.appendChild(textNode); // Set text to Service Name
                } else {
                    existingDiv.classList.add("red");
                    existingDiv.classList.remove("green");
                    // existingDiv.scrollIntoView();
                    // existingDiv.textContent = eventData.error; // Set text to error message
                    // var textNode = document.createTextNode(eventData.error);
                    // existingDiv.appendChild(textNode); // Set text to Service Name
                }
            } else {
                // If it doesn't exist, create a new <div> element and add it to the map
                const newElement = document.createElement("div");

                if (eventData.up) {
                    newElement.classList.add("green");
                    newElement.textContent = eventData.name; // Set text to Service Name
                } else {
                    newElement.classList.add("red");
                    newElement.textContent = eventData.name; // Set text to error message
                    // newElement.textContent = eventData.error; // Set text to error message
                    // newElement.scrollIntoView();
                }

                newElement.classList.add("rectangle");
                // newElement.setAttribute("name", eventData.name);

                // Create a child <div> for the progress bar
                const progressBar = document.createElement("div");
                progressBar.classList.add("progress-bar");
                progressBar.setAttribute("name", eventData.name);

                // Append the progress bar as a child of newElement
                newElement.appendChild(progressBar);

                // Append the new <div> element to the grid container and store it in the map
                const gridContainer = document.querySelector(".grid-container");

                gridContainer.appendChild(newElement);
                serviceDivs.set(eventData.name, newElement);
            }

            // const progressBar = document.querySelector('.progress-bar');
            progressBar = document.querySelector('[name="' + eventData.name + '"]');

            // Calculate the animation duration based on the 'seconds' variable
            const animationDuration = eventData.frequency * 1000 + 'ms';
            // Apply the animation duration to the progress bar
            if (progressBar) {
                progressBar.style.animationDuration = animationDuration;
            }
        };
    </script>
</body>

</html>
